<?xml version="1.0" encoding="utf-8"?>

<!--
 Programmer:  Greg Savidge
 Class     :  CS211D
 Date      :  July 17, 2013
 Instructor:  Abbas Moghtanei
 File Name :  AndroidManifest.xml
 
 Purpose:
 
To this file I added the <application> GeoQuiz, NewGame, and ShowScores
 
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs211d.statescapitalquiz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cs211d.statescapitalquiz.GeoQuiz"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.cs211d.statescapitalquiz.NewGame"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.Game" />
                <category android:name="android.intent.categaour.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.cs211d.statescapitalquiz.ShowScores"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.Game" />
                <category android:name="android.intent.categaour.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
